beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
fake-useragent==0.1.11
idna==2.9
lxml==4.5.1
numpy==1.18.5
proxyscrape==0.3.0
PyMySQL==0.9.3
PySocks==1.7.1
requests==2.24.0
soupsieve==2.0.1
urllib3==1.26.5
